[data-component="ProposalDetail"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;

    .headline {
        font-size: 22px;
    }

    .description {
        margin-top: 2vh;
    }

    .response-button {
        width: 200px;
        min-width: 200px;
        height: 200px;
        min-height: 200px;
        background-color: transparent;
        color: red;
        border: 5px solid red;
        border-radius: 50%;
        margin: 10vh 0;

        &.positive-response {
            background-color: $yellow-darker;
            color: white;
            border: none;
        }

        &.matched {
            background-color: $green-darker;
            color: white;
            border: none;
        }

        .match-status {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }

    .delete-button {
        margin-top: 3vh;
    }
}
