[data-component="ProposalsList_Item"] {
    margin: 20px 0;
    display: flex;
    flex-direction: row;

    [data-component="Button"] {
        @media (max-width: 600px) {
            width: 100%;
        }
    }

    &.matched::after {
        content: '✔';
        color: $green-darker;
        font-size: 1.5rem;
        margin: 12px 0 0 15px;
    }
}
