[data-component="Layout_Main"] {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .page-title {
        font-size: 30px;
        font-weight: 200;
        margin-bottom: 4vh;
    }
}
